<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Filmes</title>
</head>
<body>
    <h1>Você está na página de listagem de filmes</h1>

    <ul>
        <% filmes.forEach(filme => { %>
            <li><strong><%= filme.titulo %></strong> – <em><%= filme.diretor %></em></li>
        <% }); %>
    </ul>
</body>
</html>